.products-container{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    flex-wrap: wrap;
    margin-top:5rem;
    margin-bottom: 3rem;
    
}
.product{
    width:25%
}
.product:hover{
    box-shadow: 1px 4px 8px rgba(134, 134, 134, 0.363);
}