<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-container" style = "background-color: rgb(136, 136, 136);">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MASTER ENTERPRISES</h5>
          <p>Established in the year 2000</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

          <ul class="list-unstyled">
            <li class = "nav-link-local nav-link-ltr-local" routerLink = "home">Home</li>
            <li class = "nav-link-local nav-link-ltr-local" routerLink = "products">Products</li>
            <li class = "nav-link-local nav-link-ltr-local" routerLink = "profile">Profile</li>
            <li class = "nav-link-local nav-link-ltr-local" routerLink = "contact">Contact</li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Products</h5>

          <ul class="list-unstyled">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fgc">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:cfm">conveyor type fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:utc">UV Test Chamber</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:ib">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:kb">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:bs">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fmsr">fusing machine silicon rollers</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:em">Energy Meters</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:tc">Thermo Couple</li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- <hr class="clearfix w-100 d-md-none"> -->

        <!-- Grid column -->
        <div class="col-md-2 mx-auto"> 

          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Products</h5>

          <ul class="list-unstyled">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "./productlist/:fb">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:cb">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local"  routerLink = "productlist/:bcp">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:ir">industrial relays</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:gm">Gear Motor</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fm">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:dt">digital thermometer</li>
          
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- <hr> -->

    <!-- Call to action -->
    <!-- <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Sign up!</a>
      </li>
    </ul> -->
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul> -->
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      Master Enterprises
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->