<div class="toolbar-local" role="banner" 
             (mouseover)="gowhite()" (mouseleave)="gotransparent()">
    <div class="spacer1-local"></div>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    
    <span><h2>Comany name</h2></span>
    <span id="gst">GST No. 29ASIPS0674C1ZK</span>
      <div class="spacer2-local"></div>
      <ul class = "navbar-local">
        <li class = "nav-link-local nav-link-ltr-local" ><a href=""  routerLink = "home">Home</a></li>
        <li class = "nav-link-local nav-link-ltr-local" 
        (mouseover) = "openDropdown()"
        (mouseleave) = "closeDropdown()">
        <a href="" routerLink = "products">Products</a> </li>
        <div [class]= "expandClass" (mouseover) = "openDropdown()" (mouseleave) = "closeDropdown()">
        
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial relays</li>
        </ul>
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">digital thermometer</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor type fusing machine</li>

        </ul>
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine silicon rollers</li>
        </ul>
    
    </div>
  
        <li class = "nav-link-local nav-link-ltr-local" 
        (mouseover) = "openDropdownprofile()" (mouseleave) = "closeDropdownprofile()"
        >Profile</li>
        <div [class]= "expandProfileClass" (mouseover) = "openDropdownprofile()" (mouseleave) = "closeDropdownprofile()">
            
            <ul *ngIf = "expand2">
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">Quality</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">Infrausture & facility</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">product portfolio</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">our team</li>
            </ul>
            <ul *ngIf = "expand2">
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">corporate video</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">distributor enquiry form</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">download brochure</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">pay option</li>
    
            </ul>
     
        </div>
        <li class = "nav-link-local nav-link-ltr-local">Contact</li>
      </ul>
  <div class="navbar-menu-btn" (click) = "setMobileMenu()">
      <img [ngClass]="menuIcon" src="./../../assets/menu.png" alt="">
      <img [ngClass]="crossIcon" src="./../../assets/cross.png" alt="">
  </div>
      
  </div>
  <div [ngClass]="mobileMenu">
  <div class="mobilemenu-list">
      <ul>
          <li routerLink = "home">Home</li>
          <ngb-accordion [closeOthers]="true" activeIds="">
            
            <ngb-panel id="static-1" title="Products">
              <ng-template ngbPanelContent>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial relays</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">digital thermometer</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor type fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine silicon rollers</li>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <!-- <div class="mobile-product-expand">
              
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial relays</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">digital thermometer</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor type fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine silicon rollers</li>
        </div> -->
        
        
          <li>profile</li>
          <li>contact</li>
      </ul>
  </div>
  </div>
  