<div class="toolbar-local" role="banner" 
             (mouseover)="gowhite()" (mouseleave)="gotransparent()">
    <div class="spacer1-local"></div>
    <img
      width="100"
      alt="Angular Logo"
      src="./../../assets/mainlogo.jpg"
    />
    
    <span><h2 style="font-weight: 900;"><a href="" routerLink = "./home" style="text-decoration: none;color:black">MASTER ENTERPRISES</a> </h2></span>
    <!-- <span id="gst">GST No. 29ASIPS0674C1ZK</span> -->
      <div class="spacer2-local"></div>
      <ul class = "navbar-local" >
        <li class = "nav-link-local nav-link-ltr-local" ><a href=""  routerLink = "home"(click) = "closeDropdown()">Home</a></li>
        <li class = "nav-link-local nav-link-ltr-local" 
        (mouseover) = "openDropdown()"
        (mouseleave) = "closeDropdown()">
        <a href="" routerLink = "products" (click) = "closeDropdown()">Products</a> </li>
        <div [class]= "expandClass" (mouseover) = "openDropdown()" (mouseleave) = "closeDropdown()" >
        
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local"  routerLink = "./productlist/:fb">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:cb">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local"  routerLink = "productlist/:bcp">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:ir">industrial relays</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:gm">Gear Motor</li>
        </ul>
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fm">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:dt">digital thermometer</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fgc">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:cfm">conveyor type fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:utc">UV Test Chamber</li>

        </ul>
        <ul *ngIf = "expandfirst">
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:ib">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:kb">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:bs">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:fmsr">fusing machine silicon rollers</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:em">Energy Meters</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local" routerLink = "productlist/:tc">Thermo Couple</li>
        </ul>
    
    </div>
    <li class = "nav-link-local nav-link-ltr-local" routerLink = "profile">Profile</li>
        <!-- <li class = "nav-link-local nav-link-ltr-local" 
        (mouseover) = "openDropdownprofile()" (mouseleave) = "closeDropdownprofile()"
        >Profile</li>
        <div [class]= "expandProfileClass" (mouseover) = "openDropdownprofile()" (mouseleave) = "closeDropdownprofile()">
            
            <ul *ngIf = "expand2">
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">Quality</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">Infrausture & facility</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">product portfolio</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">our team</li>
            </ul>
            <ul *ngIf = "expand2">
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">corporate video</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">distributor enquiry form</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">download brochure</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local">pay option</li>
    
            </ul>
     
        </div> -->
        <li class = "nav-link-local nav-link-ltr-local" routerLink = "contact">Contact</li>
      </ul>
  <div class="navbar-menu-btn" (click) = "setMobileMenu()">
      <img [ngClass]="menuIcon" src="./../../assets/menu.png" alt="">
      <img [ngClass]="crossIcon" src="./../../assets/cross.png" alt="">
  </div>
      
  </div>
  <div [ngClass]="mobileMenu">
  <div class="mobilemenu-list" >
      <ul>
          <li routerLink = "home" (click) = "setMobileMenu()">Home</li>
          <span style = "position:relative;top: 1rem;">
          <ngb-accordion [closeOthers]="true" activeIds="">
            
            <ngb-panel id="static-1" title="Products">
              <ng-template ngbPanelContent>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "./productlist/:fb">Fusing machine belts</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:cb">conveyor belt</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()"  routerLink = "productlist/:bcp">belt cleaning powder</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:ir">industrial relays</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:gm">Gear Motor</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:fm">fusing machine</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:dt">digital thermometer</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:fgc">food grade conveyor belts</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:cfm">conveyor type fusing machine</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:utc">UV Test Chamber</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:ib">industrial belts</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:kb">kevlar belts</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:bs">bond strength digital meter</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:fmsr">fusing machine silicon rollers</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:em">Energy Meters</li>
                <li class = "nav-link-expand-local nav-link-ltr-expand-local" (click) = "setMobileMenu()" routerLink = "productlist/:tc">Thermo Couple</li>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </span>
          <!-- <div class="mobile-product-expand">
              
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">Fusing machine belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor belt</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">belt cleaning powder</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial relays</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">digital thermometer</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">food grade conveyor belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">conveyor type fusing machine</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">industrial belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">kevlar belts</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">bond strength digital meter</li>
            <li class = "nav-link-expand-local nav-link-ltr-expand-local">fusing machine silicon rollers</li>
        </div> -->
        
        
          <li (click) = "setMobileMenu()" routerLink = "profile">profile</li>
          <li (click) = "setMobileMenu()" routerLink = "contact">contact</li>
      </ul>
  </div>
  </div>
  