.productdetail-container{
    display: block;
    margin:auto;
    width:60%;
}
.product-detail-main{
    margin-top:7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.product-detail-main .left{
    margin: 0px 3rem 1rem 1rem;
}
.product-detail-main .left img{
    width: 400px;
    
}

.product-detail-main .right{
    width: 600px;
}

.buy-btn{
    padding: 1rem 2rem;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(255, 94, 0);
    width: fit-content;
    margin-top: 2rem;
    color: #fff;
    box-shadow: 1px 2px 2px #797979;
    cursor: pointer;
}
h1{
    font-weight: 800;
}
pre{
    width:600px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}